.cart-editor {
    /*position: absolute;*/
    /*right: 30%;*/
}
.cart-editor-button {
    /*position: absolute;*/
    /*right: 10%;*/
    cursor: pointer;
}

.cart-editor-typing {
    width: 50px;
    /*position: absolute;*/
    /*right: 30%;*/
}

.unavailable-warning {
    color: tomato;
}