header.main-page {
  position: relative;
  background: #343a40 url("../assets/images/cocktails.png") no-repeat;
  background-size: cover;
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.greeting {
  text-align: center;
  font-size: 50px;
}